@model notejamsinglepage.Models.NoteViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Note Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-style:italic">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd style="padding-left:40px">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt style="font-style:italic">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd style="padding-left:40px">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt style="font-style:italic">
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd style="padding-left:40px">
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Note List", "Index")
</p>
